html,
body {
  background-color: black;
  color: white;
}

body {
  margin: 0;
  gap: 1rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#canvas-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: calc(100vh - 10rem);
}

canvas {
  background-color: white;
  max-height: 100%;
  max-width: 100%;
}

menu {
  flex: 0 0 auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  padding-bottom: 1.5rem;
  width: calc(100% - 3rem);
}

.double-slider {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#bytes-from,
#bytes-to {
  width: 100%;
}
