:root {
  --pink: #e100bd;
  --margin: 2rem;
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  cursor: url("/static/cursor.png"), auto;
}

body {
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  font-weight: 500;

  margin: 0;
  height: 100vh;
  width: 100vw;
}

::selection {
  background-color: blue;
  color: white;
}

.hidden {
  display: none;
}

.highlight {
  background-color: blue;
  color: white;
}
.highlight::selection {
  background-color: yellow;
  color: black;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.transparent {
  background-color: rgba(0, 0, 0, 0.9);
}

menu {
  margin: 0;
  padding: 2rem;
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);

  background-color: black;
  color: white;

  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 420px) {
  menu {
    position: absolute;
    right: 0;
    max-width: calc(400px - 4rem);
  }

  .transparent {
    background-color: rgba(0, 0, 0, 1);
  }
}

section {
  margin: 0.5rem 0;
}

section:has(input[type="file"]) {
  margin-bottom: 0;
}

fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

form {
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

form:hover ::file-selector-button {
  background-color: yellow;
  color: black;
}

form:active ::file-selector-button {
  background-color: blue;
  color: white;
}

button,
input,
::file-selector-button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0.2rem 0.5rem;
}

#range-inputs-container > .row {
  padding-bottom: 0.5rem;
}

input[type="number"] {
  margin: 0;
  border: 1px solid black;
  padding: 0 0.5rem;
  width: 5rem;

  text-align: right;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

label[for="from"],
label[for="to"] {
  padding-right: 0.2rem;
}

button {
  border: 1px solid black;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--pink);
  color: white;
}

input:focus {
  background-color: blue;
  color: white;
}

button:hover {
  background-color: yellow;
  color: black;
}

button:active {
  background-color: blue;
  color: white;
}

input[type="checkbox"] + label:before {
  content: "[N]";
  background-color: var(--pink);
  color: white;
}
input[type="checkbox"]:checked + label:before {
  content: "[Y]";
  background-color: blue;
  color: white;
}
input[type="checkbox"]:hover:not(:checked) + label:before {
  background-color: yellow;
  color: black;
}
input[type="checkbox"] {
  display: none;
}

input[type="radio"] + label:before {
  content: "[ ]";
  background-color: var(--pink);
  color: white;
}
input[type="radio"]:checked + label:before {
  content: "[@]";
  background-color: blue;
  color: white;
}
input[type="radio"]:hover:not(:checked) + label:before {
  background-color: yellow;
  color: black;
}
input[type="radio"] {
  display: none;
}

input[type="file"] {
  margin: 0;
  padding: 0;
  position: relative;
  left: -1rem;
}

input[type="file"],
::file-selector-button {
  text-transform: lowercase;
}

::file-selector-button {
  margin: 0.75rem;
  border: none;
  background-color: var(--pink);
  color: white;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--pink);
}
a:hover {
  color: black;
  background-color: yellow;
  transform: scale(1.1);
  padding: 0 0.5rem;
}
a:active {
  color: white;
  background-color: blue;
}
