:root {
  --pink: #e100bd;
  --margin: 2rem;
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  cursor: url("/static/cursor.png"), auto;
}

body {
  font-family: "VT323", monospace;
  font-size: 1.5rem;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.hidden {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
}

menu {
  position: absolute;
  right: 0;

  padding: 0;
  height: 100vh;

  background-color: black;
  color: white;
}

#menu-inputs-container {
  display: flex;
  flex-direction: column;
  margin: var(--margin);
}

#menu-inputs-container > label {
  margin-bottom: 0.5rem;
}

#menu-inputs-container > input,
#menu-inputs-container > select,
#menu-inputs-container > div {
  margin-bottom: 1rem;
}

form {
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

form:hover ::file-selector-button {
  background-color: yellow;
  color: black;
}

form:active ::file-selector-button {
  background-color: blue;
  color: white;
}

select,
input[type="file"],
::file-selector-button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0.2rem 0.5rem;
}

input[type="checkbox"] {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 0.5rem;
}

input[type="file"],
::file-selector-button {
  text-transform: lowercase;
  padding: 0.25rem 0.75rem;
}

::file-selector-button {
  margin: 0.75rem;
  border: none;
  background-color: white;
}

p {
  margin: 0;
}

nav {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin-left: var(--margin);
  margin-bottom: var(--margin);
}

a {
  text-decoration: none;
  color: var(--pink);
}
a:hover {
  color: black;
  background-color: var(--pink);
  transform: scale(1.1);
  padding-left: 0.5rem;
}
a:active {
  color: white;
  background-color: blue;
}
