html,
body {
  background-color: black;
  color: white;
}

body {
  margin: 0;
  gap: 1rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  background-color: white;
  max-height: calc(90% - 5rem);
}

menu {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  width: calc(100% - 3rem);
}

.double-slider {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#bytes-from,
#bytes-to {
  width: 100%;
}
