<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('/partials/head', { title: 'F*ck it! Nothing...' }) %>
    <link rel="stylesheet" href="/styles/global.css" />
    <%- include('/partials/metadata', { metadata }) %>
  </head>

  <body>
    <%- include('/partials/pageH1') %>

    <main>
      <p>
        Oops! Sorry, but the page you have requested contains complete
        <span class="gib-fill"></span>
        <a class="gib-link" id="gallery" href="/gallery.html">gallery</a>
        <span class="gib-fill"></span>
        <a class="gib-link" id="about" href="/about.html">about</a>
        <span class="gib-fill"></span>.
      </p>
    </main>

    <script src="/scripts/gib-core.js"></script>
    <script src="/scripts/gib-events.js"></script>
    <script src="/scripts/datamosh-bg.js"></script>
    <script src="/scripts/pages/home.js"></script>
  </body>
</html>
