<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mosh-v2</title>
    <%- include('/partials/styles', { styles }) %>
  </head>
  <body>
    <div id="canvas-container">
      <canvas id="image-canvas"></canvas>
    </div>

    <menu>
      <div id="bytes-range-display">
        <!-- displays -->
        <label> from: <span id="bytes-from-display">0</span> </label>
        /
        <label> to: <span id="bytes-to-display">1</span> </label>
      </div>

      <div class="double-slider">
        <!-- sliders -->
        <input id="bytes-from" type="range" disabled />
        <input id="bytes-to" type="range" disabled />
      </div>

      <div>
        <input id="file-picker" type="file" accept=".jpeg, .jpg" />
      </div>
    </menu>

    <%- include('/partials/scripts', { scripts }) %>
  </body>
</html>
