<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('/partials/head', { title }) %>
    <link rel="stylesheet" href="/styles/pages/mosh.css" />
    <%- include('/partials/metadata', { metadata }) %>
  </head>

  <body>
    <menu>
      <section>
        <!-- TODO:
          tooltips for explaining (tile modes) -->

        <p class="row">datamoshed chunks</p>

        <div class="row">
          <label for="from">&nbsp;* from</label>
          <input id="from" type="number" value="0" min="0" disabled />
          <button id="decrement-from" disabled>[-]</button>
          <button id="increment-from" disabled>[+]</button>
        </div>

        <div class="row">
          <label for="to">&nbsp;* ..to</label>
          <input id="to" type="number" value="1" min="0" disabled />
          <button id="decrement-to" disabled>[-]</button>
          <button id="increment-to" disabled>[+]</button>
        </div>

        <!-- TODO:
            min/max validation:

            from.min = 0
            from.max = to.value - 1

            to.min = from.value + 1
            to.max = file.size (chunks)
        -->
      </section>

      <section class="row">
        <input id="animated" type="checkbox" checked disabled />
        <label for="animated">&nbsp;animated</label>
      </section>

      <section>
        <label for="tile-mode">tile mode</label>
        <fieldset disabled>
          <input name="tile-mode" id="tile-mode-1" type="radio" checked />
          <label for="tile-mode-1">&nbsp;one</label>&nbsp;

          <input name="tile-mode" id="tile-mode-2" type="radio" />
          <label for="tile-mode-2">&nbsp;two</label>&nbsp;

          <input name="tile-mode" id="tile-mode-3" type="radio" />
          <label for="tile-mode-3">&nbsp;tre</label>
        </fieldset>
      </section>

      <section>
        <label for="file-picker">source image (.jpeg only!)</label>
        <div>
          <form><input id="file-picker" type="file" accept=".jpg, .jpeg" /></form>
        </div>
      </section>

      <section>
        <p>tips</p>
        <p>&nbsp;* datamoshed chunks sets range</p>
        <p>&nbsp;\ where values are randomized</p>
        <p>&nbsp;* each chunk = 3 bytes</p>
        <p>&nbsp;* don`t use firefox :3</p>
        <p>&nbsp;\ it has flickering bug</p>
      </section>

      <section>
        <p>controls</p>
        <p>&nbsp;<span class="highlight">&nbsp;H&nbsp;</span> ......... (show/hide) menu</p>

        <p>
          &nbsp;<span class="highlight">&nbsp;0&nbsp;</span>,<span class="highlight"
            >&nbsp;9&nbsp;</span
          >
          ... (in/de)crease from
        </p>
        <p>
          &nbsp;<span class="highlight">&nbsp;-&nbsp;</span>,<span class="highlight"
            >&nbsp;+&nbsp;</span
          >
          ... (in/de)crease to..
        </p>

        <p>
          &nbsp;<span class="highlight">&nbsp;1&nbsp;</span>,<span class="highlight"
            >&nbsp;2&nbsp;</span
          >,<span class="highlight">&nbsp;3&nbsp;</span>
          ........ tile mode
        </p>

        <p>&nbsp;<span class="highlight">&nbsp;F&nbsp;</span> ............... choose file</p>
      </section>

      <nav>
        <p>navigate</p>
        <!-- nav links -->
        <% navigation.forEach((link) => { %>
        <p>&nbsp;* <a href="<%= link.href %>"><%= link.text %></a></p>
        <% }) %>
      </nav>
    </menu>

    <script src="/scripts/lib/controls.js"></script>
    <script src="/scripts/lib/datamosh-jpeg.js"></script>
    <script src="/scripts/pages/mosh.js"></script>
  </body>
</html>
