<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('/partials/head', { title }) %>
    <link rel="stylesheet" href="/styles/pages/mosh.css" />
    <%- include('/partials/metadata', { metadata }) %>
  </head>

  <body>
    <aside class="hidden">
      <div>
        <p>
          destroy data, not people!
          <button id="close-modal">&nbsp;X&nbsp;</button>
        </p>
        <section>
          <p>&nbsp;a tool for glitch animations.</p>
          <p>&nbsp;it directly manipulates image&nbsp;</p>
          <p>&nbsp;bytes on the fly, so effects&nbsp;</p>
          <p>&nbsp;are generated live.&nbsp;</p>
        </section>

        <p>warning</p>
        <section>
          <p>&nbsp;@ don`t use firefox :3</p>
          <p>&nbsp;@ (ugly flickering bug)</p>
        </section>

        <p>tips</p>
        <section>
          <p>&nbsp;@ datamoshed chunks* is range</p>
          <p>&nbsp;@ where values are randomized</p>
          <p>&nbsp;* each [chunk] = 3 bytes</p>
        </section>

        <p>controls</p>
        <section id="controls">
          <p>&nbsp;<span class="highlight">&nbsp;Q&nbsp;</span> ......... (show/hide) help</p>
          <p>&nbsp;<span class="highlight">&nbsp;H&nbsp;</span> ......... (show/hide) menu</p>

          <p>
            &nbsp;<span class="highlight">&nbsp;9&nbsp;</span>,<span class="highlight"
              >&nbsp;0&nbsp;</span
            >
            ... (in/de)crease from
          </p>
          <p>
            &nbsp;<span class="highlight">&nbsp;-&nbsp;</span>,<span class="highlight"
              >&nbsp;+&nbsp;</span
            >
            ... (in/de)crease to..
          </p>

          <p>
            &nbsp;<span class="highlight">&nbsp;A&nbsp;</span>
            ........ (on/off) animation
          </p>

          <p>&nbsp;<span class="highlight">&nbsp;G&nbsp;</span> ........ generate manually</p>

          <p>&nbsp;<span class="highlight">&nbsp;F&nbsp;</span> ............... choose file</p>
        </section>

        <p>feedback</p>
        <section>
          <p>
            &nbsp;DM
            <a target="_blank" rel="noopener" href="https://instagram.com/gvfsashgawt"
              >@gvfsashgawt</a
            >
          </p>
        </section>
      </div>
    </aside>

    <menu>
      <section>
        <p class="row">datamoshed chunks</p>

        <div class="row">
          <label for="from">&nbsp;* from</label>
          <input id="from" type="number" value="0" min="0" disabled />
          <button id="decrement-from" disabled>[-]</button>
          <button id="increment-from" disabled>[+]</button>
        </div>

        <div class="row">
          <label for="to">&nbsp;* ..to</label>
          <input id="to" type="number" value="1" min="0" disabled />
          <button id="decrement-to" disabled>[-]</button>
          <button id="increment-to" disabled>[+]</button>
        </div>
      </section>

      <section class="row">
        <input id="animated" type="checkbox" checked />
        <label for="animated">&nbsp;animated</label>
      </section>

      <section>
        <!-- TODO: remove jpeg only -->
        <label for="file-picker">source image (.jpeg only!)</label>
        <form><input id="file-picker" type="file" accept=".jpg, .jpeg" /></form>
      </section>

      <section>
        <p><label for="open-modal">tips/</label><button id="open-modal">help?</button></p>
      </section>

      <nav>
        <p>navigate</p>
        <!-- nav links -->
        <% navigation.forEach((link) => { %>
        <p>&nbsp;* <a href="<%= link.href %>"><%= link.text %></a></p>
        <% }) %>
      </nav>
    </menu>

    <script src="/scripts/lib/datamosh-jpeg.js"></script>
    <script src="/scripts/lib/controls.js"></script>
    <script src="/scripts/lib/interval.js"></script>
    <script src="/scripts/pages/mosh.js"></script>
  </body>
</html>
