<nav class="uppercase">
  go <% navigation.forEach((link, index) => { %>
  <% if (index === 0) { %>
  >>
  <% } else { %>
  ||
  <% } %>
  <a class="gib-link" href="<%= link.href %>"><%= link.text %></a>
  <% }) %>
</nav>
